# common ignore
*~
MANIFEST.MF
target/
tmp/
*.versionsBackup

# Java Files #
*.jar
*.war
*.class

# eclipse specific
.settings
.project
.classpath
.metadata

# idea specific
.idea
!.idea/codeStyleSettings.xml
*.iml
*.ipr
*.iws

# Locally stored "Eclipse launch configurations"
*.launch

# unix specific
.DS_Store
.directory

# static plugins
.pmd

# log files
logs/
*.log
lib/

*.sh
