# common ignore
*~
MANIFEST.MF
target/
tmp/
*.versionsBackup
.m2/

# Java Files #
*.jar
*.war
*.class

# eclipse specific
.settings
.project
.classpath
.metadata
.factorypath

# idea specific
.idea/*
!.idea/codeStyleSettings.xml
*.iml
*.ipr
*.iws

# Locally stored "Eclipse launch configurations"
*.launch

# unix specific
.DS_Store
.directory

# static plugins
.pmd

# log files
logs/
*.log

lib/*
!strongbox-security/strongbox-authentication-registry/src/test/resources/webapp/WEB-INF/lib/strongbox-example-authentication-provider-1.0-SNAPSHOT.jar
!strongbox-storage/strongbox-storage-layout-providers/strongbox-storage-maven-layout/strongbox-storage-maven-layout-provider/src/test/resources/artifacts/properties-injector-1.7.jar
*.sh
.idea
