<?xml version="1.0" encoding="UTF-8"?>

<settings>
    <profiles>
        <profile>
            <id>it-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>snapshots</id>
            <username>maven</username>
            <password>password</password>
        </server>
        <server>
            <id>releases</id>
            <username>maven</username>
            <password>password</password>
        </server>
        <server>
            <id>snapshots-with-invalid-user</id>
            <username>maven</username>
            <password>password1234</password>
        </server>
    </servers>

</settings>
