<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.carlspring.strongbox.log.CronTaskContextFilter"/>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS dd-MM-yyyy} | %-5.5p | %-20.20t | %-50.50logger{50} | %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">

        <discriminator
            class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>strongbox-cron-context-name</key>
            <defaultValue>strongbox</defaultValue>
        </discriminator>
        <sift>
            <appender name="CRON-JOB-CONTEXT-SIFT-FILE-APPENDER"
                class="ch.qos.logback.core.rolling.RollingFileAppender">

                <file>${strongbox.vault}/logs/${strongbox-cron-context-name}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                
                    <fileNamePattern>${strongbox.vault}/logs/${strongbox-cron-context-name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <maxFileSize>128MB</maxFileSize>
                    <maxHistory>31</maxHistory>
                    <totalSizeCap>1GB</totalSizeCap>

                    <maxHistory>30</maxHistory>
                </rollingPolicy>

                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d{HH:mm:ss.SSS dd-MM-yyyy} | %-5.5p | %-20.20t | %-50.50logger{50} | %m%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!--
        Please read the following article to make yourself familiar with logback configuration details:
        https://logback.qos.ch/manual/configuration.html
    -->

    <!-- Strongbox packages -->
    <logger name="org.carlspring.strongbox" level="DEBUG"/>
    <logger name="org.carlspring.strongbox.security.authentication" level="INFO"/>
    <logger name="org.carlspring.strongbox.security.vote" level="INFO"/>
    <logger name="org.carlspring.strongbox.data" level="WARN"/>
    <logger name="org.carlspring.strongbox.data.tx" level="WARN"/>
    <logger name="org.carlspring.strongbox.data.criteria" level="INFO"/>
    <logger name="org.carlspring.strongbox.data.server" level="INFO"/>
    <!-- Strongbox packages -->

    <!-- Third-party packages -->
    <logger name="ch.qos.logback" level="ERROR"/>

    <logger name="com.orientechnologies.orient" level="ERROR"/>

    <logger name="org.apache.commons.beanutils" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>

    <logger name="org.glassfish.jersey" level="ERROR"/>

    <logger name="org.quartz" level="INFO"/>

    <logger name="org.reflections" level="ERROR"/>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="INFO"/>
    <!-- Third-party packages -->

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
